
.button,.toggle-button{
    -fx-background-color:  #616161;
    -fx-text-fill:  #FFFFFF;
    -fx-font-family: Ubuntu Light;
}

.label{
    -fx-text-fill:  #FFFFFF;
    -fx-font-family: Ubuntu Light;
}

.button:hover,.toggle-button:hover{
    -fx-background-color: #9E9E9E;
    -fx-font-family: Ubuntu Light;
}
.text-field,.combo-box{
    -fx-background-color:  #616161;
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.text-field:hover,.combo-box:hover,.text-field:focused,.combo-box:focused{
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.list-cell,.text-area{
    -fx-background-color:  #222222;
    -fx-text-fill:  #9E9E9E;
    -fx-font-family: Ubuntu Light;
}
.list-view,.border-pane,.dialog-pane{
    -fx-border-color: #222222;
    -fx-background-color: #222222;
}
.scroll-bar, .stack-pane{
    -fx-background-color: #222222;
}
#GM_LABEL:hover{
    -fx-effect: dropshadow(three-pass-box, #536DFE, 10, 0, 0, 0);
}

.menu-item{
    -fx-cursor:hand;
    -fx-background-color: #222222;
    
}

.grid-pane{
    -fx-background-color: #222222;
}


.context-menu{
    -fx-background-color: #222222;
    -fx-border-color: #616161;
    -fx-border-width: 2px;
}
