
.button{
    -fx-background-color:  #616161;
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.button:hover{
    -fx-background-color: #9E9E9E;
    -fx-font-family: Ubuntu Light;
}
.text-field,.combo-box{
    -fx-background-color:  #616161;
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.text-field:hover,.combo-box:hover,.text-field:focused,.combo-box:focused{
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.list-cell,.text-area{
    -fx-background-color:  #FFFFFF;
    -fx-text-fill:  #212121;
    -fx-font-family: Ubuntu Light;
}
.tab-pane{
    -fx-background-color: #F5F5F5;
}
.anchor-pane{
    -fx-background-color: #616161;
}
.list-view{
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
}

